<h1 style ="color:cyan">About page	</h1>


	<div class = "hero-unit">
		Salasar having its Head Office at Hyderabad has steadily grown to become a premium dealer and stocks the best quality brands manufactured by the most reputed Manufacturers and leading Industrial houses in India.<br />
<br />
We the management at Salasar dare to commit that we deliver the best quality products and have earned a commendable reputation for reliability and quality due to its adherence to uncompromising standards of quality. The objective is to delight customers at resonable prices.<br />
<br />
<span class="inner_sub_titles">Mission Statement</span><br />
We endeavour to reach the leadership position in each  
segment / sector of our Product / Service.
 
We are comitted to satisfy our customers by providing such quality 
 
product / services, which gives highest value for money.
 
We believe that employees are our most important asset through which 
 
we can reach the top in each category of our Product / Service.
 
Therefore, we will emphasize on their continuous improvement through 
  
upgradation of relevant knowledge and training.
 
 We commit ourseleves to continuous growth, so as to fulfill the aspirations of our Customers, Employees and Suppliers.
	</div>
<!-- HTML Codes by Quackit.com -->
<style type="text/css">
body {background-color:ff9900;background-image:url(http://www.iwallscreen.com/stock/new-top-cool-windows-hd-wallpapers-for-desktop-backgrounds-backgrounds.jpg);background-repeat:no-repeat;background-position:top left;background-attachment:scroll;}
table, tr, td {background:transparent; border:0px;}table table {border:0px;}table table table table {border:0px;}table table table {background-color:CCFFFF;border-width:2;border-style:double;border-color:6600CC;}
td, span, div, input, a, table td div div font, body div table tbody tr td font {font-family:Cursive;font-size:14pt;color:000000;}
a {color:0099FF;}
</style>
<br />
