<body>
	<h1 style ="color:cyan">Contact page </h1>
  <link href="assets/bootstrap.css" rel="stylesheet">
   <link href="assets/bootstrap-responsive.css" rel="stylesheet">
<form class="well span8">
  <div class="row">
		<div class="span3">
			<label>First Name</label>
			<input type="text" class="span3" placeholder="Your First Name">
			<label>Last Name</label>
			<input type="text" class="span3" placeholder="Your Last Name">
			<label>Email Address</label>
			<input type="text" class="span3" placeholder="Your email address">
          	<label>Subject</label>
			<select id="subject" name="subject" class="span3">
				<option value="na" selected="">Choose One:</option>
				<option value="service">General Customer Service</option>
				<option value="suggestions">Suggestions</option>
				<option value="product">Product Support</option>
			</select>
		</div>
		<div class="span5">
			<label>Message</label>
			<textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
		</div>
	
		<button type="submit" class="btn btn-primary pull-right">Send</button>
	</div>
</form>
</body>
<!-- HTML Codes by Quackit.com -->
<style type="text/css">
body {background-color:ff9900;background-image:url(http://4state.net/wp-content/uploads/2013/01/Light-keyboard-New-HD-Wallpapers.jpg);background-repeat:no-repeat;background-position:top left;background-attachment:scroll;}
table, tr, td {background:transparent; border:0px;}table table {border:0px;}table table table table {border:0px;}table table table {background-color:CCFFFF;border-width:2;border-style:double;border-color:6600CC;}
td, span, div, input, a, table td div div font, body div table tbody tr td font {font-family:Cursive;font-size:14pt;color:000000;}
a {color:0099FF;}
</style>
<br />
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>