<style type="text/css">
p{
  color: #ffffff;
}

</style>

 <body>


    <div class="container">

      <!--  Carousel -->
      <!--  consult Bootstrap docs at 
            http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div id="this-carousel-id" class="carousel slide" style="width: 900px; margin: 0 auto">
        <div class="carousel-inner">
          <div class="item active">
            <a href="">  <img src="assets/Mjinfotech.jpg" alt="Maheswari Jagruth">
            </a>
            <div class="carousel-caption">
              <p>MJ innovations </p>
              <p><a href="http://mjbeta.herokuapp.com">MjHomepage &raquo;</a></p>
            </div>
          </div>
          <div class="item">
            <a href="http://hubblesite.org/gallery/album/entire/pr2007016e/xlarge_web/npp/128/">
              <img src="assets/mjhousing.jpg" alt="Maheswari Jagruth" />
            </a>
            <div class="carousel-caption">
              <p>Mj Housing</p>
              <p><a href="http://mjbeta.herokuapp.com">MjHomepage &raquo;</a></p>
            </div>
          </div>
          <div class="item">
            <a href="http://hubblesite.org/gallery/album/entire/pr2003010i/npp/128/">
              <img src="assets/mjin.jpg" alt="Light Echo" />
            </a>
            <div class="carousel-caption">
              <p>Mjinfotech</p>
               <p><a href="http://mjbeta.herokuapp.com">MjHomepage &raquo;</a></p>
            </div>
          </div>
        
        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div><!-- .carousel -->
      <!-- end carousel -->

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2 style="color:cyan;">About</h2>
           <p>Maheshwari Jagruth is an initiative by a group of maheshwaris with a primary objective to create awareness about its members in India and Abroad. Its aim to connect every member of its community and also display its ancestral structure to enable the members to have an access to their families and other members registered with Maheshwari Jagruth. </p>
          
        </div>
        <div class="span4">
          <h2 style="color:cyan;">Efforts</h2>
           <p>Efforts are to strengthen the community with values, education, services and relationships etc and also establish itself with the help of its members who are actually the roots or pillars of the community. . </p>
          
       </div>
        <div class="span4">
          <h2 style="color:cyan;">Community</h2>
          <p>Maheswhari Jagruth intents to bring in its community a kind of awareness through which the members are benefited to its best and we very well acknowledge with thanks and are also proud for the kind of support and inspiration received from its members in the past. .</p>
         
        </div>
      </div>

      <hr>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/jquery-1.7.2.min.js"><\/script>')</script>
    <!-- Bootstrap jQuery plugins compiled and minified -->
    <script src="assets/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 5000;
        });
      });
    </script>

  </body>
<!-- HTML Codes by Quackit.com -->
<style type="text/css">
body {background-color:ff9900;background-image:url(http://www.marketwallpapers.com/wallpapers/6/wallpaper-40886.jpg);background-repeat:no-repeat;background-position:top left;background-attachment:scroll;}
table, tr, td {background:transparent; border:0px;}table table {border:0px;}table table table table {border:0px;}table table table {background-color:CCFFFF;border-width:2;border-style:double;border-color:6600CC;}
td, span, div, input, a, table td div div font, body div table tbody tr td font {font-family:Cursive;font-size:14pt;color:000000;}
a {color:0099FF;}
</style>
<br />